
$primary-color: #710a2c;
$secondary-color: #191f24;
$charcoal-color: #435360;
$base-color: #f5f6f4;
$slate-gray-color: #6e7e85;

// nav bar colors Link is Base-color
$active: #6e7e85;
$visited: #F7EADE;
$hover: #f4d35e;
$drk-hover: #BF980D;
$drk-visited: #546878;

