/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function darken($color, $percentage) {
  @return mix(black, $color, $percentage);
}

// Weather Bar

%wthr {
    font-size: .8rem;
    color: #ffffff;
    margin: 1rem 1rem .4rem 0;
}

.wthr-city {
  @extend %wthr;
  font-weight: 900;
  padding-right: 1rem;
}

.wthr-info {
  @extend %wthr;
  font-weight: 600;
}

.wthr-cord {
  @extend %wthr;
  font-weight: 600;
  display: none;
}

.wthr-icon {
  width: 60px;
}

.weather {
  display: flex;
  align-items: center;
}

.wthr-bar {
  background-color: $primary-color;
}

// Header Navigation bar
.nav-bar-clr {
  background-color: $secondary-color;

  a {
    color: $base-color;;
    &:visited {
      color: $visited;
    }
    &:hover {
      color: $hover;
    }
    &:active {
      color: $active;
    }
  }
}


// Show bird list
.adds {
  display: flex;
  align-content: center;
}

#bird-list {
  display: none;
}

#show-list {
  display: none;
}

.spotted-birdsU {
  display: flex;
  align-items: center;
  height: 2rem;
}

.name-box {
  display: flex;
  width: 600px;
}

.watch-list {
  list-style: none;
  display: flex;
  margin-bottom: 3px;

  a:link {
    text-decoration: none;
    color: $charcoal-color;
  }

  a:hover {
    text-decoration: none;
    font-weight: 800;
    color: $drk-hover

  }
}

.bird-name {
  width: 300px;
}

.flex-center{
  display: flex;
  align-items: center;
}

%bird-btn {
  background-color: $primary-color;
  border-color: $charcoal-color;
  border-radius: 5px;
  color: $base-color;
  font-weight: 600;
}

.bird-btn-sm {
  @extend %bird-btn;
  padding: 5px 10px;
  border: 0;
  font-size: .9rem;
  margin-right: 40px;

  &:hover {
    background-color: $drk-hover;
    padding: 5px 10px;
    border: 0;
  }
}

.bird-btn-start {
  @extend %bird-btn;
  padding: 10px 20px;
  width: 200px;
  font-size: .9rem;
  font-weight: 800;
}

.bird-btn-box {
  @extend %bird-btn;
  width: 75px;
  font-size: .8rem;
}

.add-btn {
  @extend %bird-btn;
  background-color: $add-button;
  padding: 5px 7px;
  border: 0;
  font-size: .9rem;
  margin-right: 20px;

  &:hover {
    background-color: $drk-hover;
    padding: 5px 7px;
    border: 0;
  }
}

.sub-btn {
  @extend %bird-btn;
  background-color: $sub-button;
  padding: 5px 7px;
  border: 0;
  font-size: .9rem;
  margin-right: 20px;

  &:hover {
    background-color: $drk-hover;
    padding: 5px 7px;
    border: 0;
  }
}

.search-box {
  display: flex;
  align-items: flex-end;
}

.fa-plus-circle {
  font-size: 1.5rem;
  color:$primary-color;
  vertical-align: center;
  padding-top: 2px;

  &:hover {
    color: $drk-hover;

  }
}

.search-bar {
  width: 200px;
  margin-right: 40px;
}

.search-container {
  margin-top: 2rem;
}

.search-bar-container {
  background-color: tint($primary-color, 80%);
  width: 100%;
  padding: 5px;
}

.hide {
  display: none;
}

.loc-info {
  display: none;
}

.fa-plus {

  &:hover {
    color: $drk-hover;

  }
}

.spotted {
  margin-top: 2rem;

  ul {

    li {
      list-style: none;
    }

  }
}

.all-bird-list {
  display: flex;
  padding: 4px;
  border: 0;
  background-color: $base-color;

  a {
    color: $primary-color;

    &:visited {
      color: $drk-visited;
    }
    &:hover {
      color: $slate-gray-color;
      font-weight: 800;
      text-decoration: none;
    }
    &:active {
      color: $active;
    }
  }
}

.spotted-birds {
  display: flex;
  align-items: center;

}

.spotted-list {
  display: flex;
  align-items: center;
  margin-bottom: 3px;

  a{
    color: $charcoal-color;
  }

  a:link {
    text-decoration: none;
    color: $charcoal-color;
  }

  a:hover {
    text-decoration: none;
    font-weight: 800;
    color: $drk-hover
  }

  a:visted {
    text-decoration: none;
    color: $charcoal-color;
  }
}

.bird-bar {
  background-color: tint($primary-color, 20%);
}

.search-box-bar {
  width: 200pc;
  display: flex;
  align-items: center;
  padding-top: 2px;
}

.session-add-btn {
  padding: 2px 40px;
  background-color: $primary-color;
  color: $base-color;
  border-radius: 5px;
  border: none;
  font-weight: 800;
  font-size: .9rem;
  margin: 2px auto;
}







