// Weather Bar

%wthr {
    font-size: .8rem;
    color: #ffffff;
    margin: 1rem 1rem .4rem 0;
}

.wthr-city {
  @extend %wthr;
  font-weight: 900;
  padding-right: 1rem;
}

.wthr-info {
  @extend %wthr;
  font-weight: 600;
}

.wthr-cord {
  @extend %wthr;
  font-weight: 600;
  display: none;
}

.wthr-icon {
  width: 60px;
}

.weather {
  display: flex;
  align-items: center;
}

.wthr-bar {
  background-color: $primary-color;
}

// Header Navigation bar
.nav-bar-clr {
  background-color: $secondary-color;

  a {
    color: $base-color;;
    &:visited {
      color: $visited;
    }
    &:hover {
      color: $hover;
    }
    &:active {
      color: $active;
    }
  }
}


// Show bird list
.adds {
  display: flex;
  align-content: center;
  height: 2rem;
}

#bird-list {
  display: none;
}

.spotted-birdsU {
  margin-right: 40px;
  display: flex;
  align-items: center;

  height: 2rem;
}

.name-box {
  display: flex;
  width: 600px;
  margin-right: 40px;
}

.watch-list {
  list-style: none;
  display: flex;

  a:link {
    text-decoration: none;
    color: $charcoal-color;
  }


  a:hover {
    text-decoration: none;
    font-weight: 800;
    color: $drk-hover

  }

}

.bird-name {
  width: 300px;
}

.flex-center{
  display: flex;
  align-items: center;
}

%bird-btn {
  background-color: $primary-color;
  border-color: $charcoal-color;
  border-radius: 5px;
  color: $base-color;
  font-weight: 800;
  font-size: 1rem;
}

.bird-btn-sm {
  @extend %bird-btn;
  padding: 5px 10px;
  border: 0;

  &:hover {
    background-color: $drk-hover;
    padding: 5px 10px;
    border: 0;
  }
}

.bird-btn-start {
  @extend %bird-btn;
  padding: 10px 20px;
  width: 200px;
}

.sub-button {
  border: 0;
  margin-left: 40px;

}

.search-box {
  display: flex;
  align-items: flex-end;
}

.fa-plus-circle {
  font-size: 1.5rem;
  color:$primary-color;
  vertical-align: center;
  padding-top: 2px;

  &:hover {
    color: $drk-hover;

  }
}

.search-bar {
  width: 400px;
  margin-right: 40px;
}

.search-container {
  margin-top: 2rem;
}

.hide {
  display: none;
}

.loc-info {
  display: none;
}

.fa-plus {

  &:hover {
    color: $drk-hover;

  }
}

.spotted {
  margin-top: 2rem;

  ul {

    li {
      list-style: none;
    }

  }
}

.all-bird-list {
  display: flex;
  padding: 4px;
  border: 0;
  background-color: $base-color;

  a {
    color: $primary-color;

    &:visited {
      color: $drk-visited;
    }
    &:hover {
      color: $slate-gray-color;
      font-weight: 800;
      text-decoration: none;
    }
    &:active {
      color: $active;
    }
  }
}

.spotted-birds {
  display: flex;
}

.spotted-list {
  display: flex;
}





