p {
  margin: .8rem 0;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

body {
  margin: 0;
}


// Components
// SHow bird list
#bird-list {
  display: none;
}
