@import "color";
@import "components";




$font-stack: Raleway, Helvetica, Arial, sans-serif;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

li {
  text-decoration: none;
}

body {
  font-family: $font-stack;
  line-height: 1.6rem;
  color: $charcoal-color;
  background-color: $base-color;
}

p {
  margin: .8rem 0;
  color: $charcoal-color;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.no-border {
  border: 0;
  box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
  height: 1.6rem;
}

.form-group {
  margin-bottom: 0;
}

.base-color {
  background-color: $base-color;
  border: none;
}


