
<div class="search-bar-container">

    <div class="container search-box-bar">

        <a href="/birds/add_bird_session/{{session.id}}" class="session-add-btn" id="add-bird-btn">Add a new bird</a>

    </div>
</div>
