

<h6>Dashboard</h6>

Welcome, {{name}}! Are you ready to bird watch?]

{{#if location}}

<!-- if there is location information show Bird -->


<form action="start" method="POST" class="form-group">
    <input type="hidden" id="tempature" aria-hidden="true" value="" name="tempature">
    <input type="hidden" id="condition" aria-hidden="true" value="" name="condition">
    <input type="hidden" id="local" aria-hidden="true" value="{{location._id}}" name="local">


    <input type="submit" value="Start Session">
</form>




{{else}}

    <!-- First time logging in  or if  there is NO location information get location -->

    <form action="/add_location" method="POST" class="form-group">
        <div class="get-location row">
            <label for="latitude">Latitude</label>
            <input id="latitude" value="" type="text" name="latitude" class="form-control">
        </div>

        <div  class="get-location row">
            <label for="longitude">Longitude</label>
            <input id="longitude" value="" type="text" name="longitude" class="form-control">
        </div>

        <div  class="get-location row">
            <label for="locality">Your location will be listed as:</label>
            <input id="locality" value="" type="text" name="location" class="form-control">
        </div>

        <div id="city-loc"></div>

        <div class="row">
            <input type="submit" value="Accept" class="btn">
        </div>

    </form>

{{/if}}


<script src="/js/location.js"></script>
