
<!-- Flash message go here -->


{{> _messages }}

<h2>Bird Nerd</h2>

<div class="section">
    <p class="lead">Keep track of the bird you spot </p>
</div>
<div class="divider"></div>

<!-- Local Login -->

            <form action='/login' method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input
                            type="email"
                            id="email"
                            name="email"
                            class="form-control"
                            placeholder="woody@abc.com"
                    />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                            type="password"
                            id="password"
                            name="password"
                            class="form-control"
                            placeholder="&bull; &bull; &bull; &bull; &bull; &bull;"
                    />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
            <div class="lead mt-2 reg">
                No Account? <a href="/register">Register</a>
            </div>


<!-- Google Login -->
<div class="section google mt-4">
    <a href="/auth/google" class="btn red darken-1 google">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>