.wthr-cord, .wthr-info, .wthr-city {
  font-size: 0.8rem;
  color: #ffffff;
  margin: 1rem 1rem 0.4rem 0;
}

.wthr-city {
  font-weight: 900;
  padding-right: 1rem;
}

.wthr-info {
  font-weight: 600;
}

.wthr-cord {
  font-weight: 600;
  display: none;
}

.wthr-icon {
  width: 60px;
}

.weather {
  display: flex;
  align-items: center;
}

.wthr-bar {
  background-color: #710a2c;
}

.nav-bar-clr {
  background-color: #191f24;
}
.nav-bar-clr a {
  color: #f5f6f4;
}
.nav-bar-clr a:visited {
  color: #F7EADE;
}
.nav-bar-clr a:hover {
  color: #f4d35e;
}
.nav-bar-clr a:active {
  color: #6e7e85;
}

.adds {
  display: flex;
  align-content: center;
}

#bird-list {
  display: none;
}

#show-list {
  display: none;
}

.spotted-birdsU {
  display: flex;
  align-items: center;
  height: 2rem;
}

.name-box {
  display: flex;
  width: 600px;
}

.watch-list {
  list-style: none;
  display: flex;
  margin-bottom: 3px;
}
.watch-list a:link {
  text-decoration: none;
  color: #435360;
}
.watch-list a:hover {
  text-decoration: none;
  font-weight: 800;
  color: #BF980D;
}

.bird-name {
  width: 300px;
}

.flex-center {
  display: flex;
  align-items: center;
}

.sub-btn, .add-btn, .bird-btn-box, .bird-btn-start, .bird-btn-sm {
  background-color: #710a2c;
  border-color: #435360;
  border-radius: 5px;
  color: #f5f6f4;
  font-weight: 600;
}

.bird-btn-sm {
  padding: 5px 10px;
  border: 0;
  font-size: 0.9rem;
  margin-right: 40px;
}
.bird-btn-sm:hover {
  background-color: #BF980D;
  padding: 5px 10px;
  border: 0;
}

.bird-btn-start {
  padding: 10px 20px;
  width: 200px;
  font-size: 0.9rem;
  font-weight: 800;
}

.bird-btn-box {
  width: 75px;
  font-size: 0.8rem;
}

.add-btn {
  background-color: #533A71;
  padding: 5px 7px;
  border: 0;
  font-size: 0.9rem;
  margin-right: 20px;
}
.add-btn:hover {
  background-color: #BF980D;
  padding: 5px 7px;
  border: 0;
}

.sub-btn {
  background-color: #E4572E;
  padding: 5px 7px;
  border: 0;
  font-size: 0.9rem;
  margin-right: 20px;
}
.sub-btn:hover {
  background-color: #BF980D;
  padding: 5px 7px;
  border: 0;
}

.search-box {
  display: flex;
  align-items: flex-end;
}

.fa-plus-circle {
  font-size: 1.5rem;
  color: #710a2c;
  vertical-align: center;
  padding-top: 2px;
}
.fa-plus-circle:hover {
  color: #BF980D;
}

.search-bar {
  width: 200px;
  margin-right: 40px;
}

.search-container {
  margin-top: 2rem;
}

.search-bar-container {
  background-color: #e3ced5;
  width: 100%;
  padding: 5px;
}

.hide {
  display: none;
}

.loc-info {
  display: none;
}

.fa-plus:hover {
  color: #BF980D;
}

.spotted {
  margin-top: 2rem;
}
.spotted ul li {
  list-style: none;
}

.all-bird-list {
  display: flex;
  padding: 4px;
  border: 0;
  background-color: #f5f6f4;
}
.all-bird-list a {
  color: #710a2c;
}
.all-bird-list a:visited {
  color: #546878;
}
.all-bird-list a:hover {
  color: #6e7e85;
  font-weight: 800;
  text-decoration: none;
}
.all-bird-list a:active {
  color: #6e7e85;
}

.spotted-birds {
  display: flex;
  align-items: center;
}

.spotted-list {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
.spotted-list a {
  color: #435360;
}
.spotted-list a:link {
  text-decoration: none;
  color: #435360;
}
.spotted-list a:hover {
  text-decoration: none;
  font-weight: 800;
  color: #BF980D;
}
.spotted-list a:visted {
  text-decoration: none;
  color: #435360;
}

.bird-bar {
  background-color: #8d3b56;
}

.search-box-bar {
  width: 200pc;
  display: flex;
  align-items: center;
  padding-top: 2px;
}

.session-add-btn {
  padding: 2px 40px;
  background-color: #710a2c;
  color: #f5f6f4;
  border-radius: 5px;
  border: none;
  font-weight: 800;
  font-size: 0.9rem;
  margin: 2px auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

li {
  text-decoration: none;
}

body {
  font-family: Raleway, Helvetica, Arial, sans-serif;
  line-height: 1.6rem;
  color: #435360;
  background-color: #f5f6f4;
}

p {
  margin: 0.8rem 0;
  color: #435360;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.no-border {
  border: 0;
  box-shadow: none;
  /* You may want to include this as bootstrap applies these styles too */
  height: 1.6rem;
}

.form-group {
  margin-bottom: 0;
}

.base-color {
  background-color: #f5f6f4;
  border: none;
}

/*# sourceMappingURL=style.css.map */
